# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# pyenv
.python-version


# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# JetBrains staff
.idea/

# Ignore configuration
mac_cleanup/modules.toml

# mypy stuff
.mypy_cache/*

# pytest stuff
.pytest_cache/*

# coverage stuff
.coverage*

# tox
.tox/*
